html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	user-select: none;
}
ul[class],
ol[class] {
	padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
ul[class],
ol[class] {
	list-style: none;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}
img {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}
html {
	cursor: default;
	font-size: 62.5%;
}
svg:not(:root) {
	overflow: hidden;
}
svg {
	vertical-align: middle;
}
canvas {
	width: 100%;
	height: 100%;
	display: block;
}
