//* Merriweather
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.eot');
	src: local('Merriweather Light'), local('Merriweather-Light'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.woff2')
			format('woff2'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.woff')
			format('woff'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.ttf')
			format('truetype'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-300.svg#Merriweather')
			format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.eot');
	src: local('Merriweather Regular'), local('Merriweather-Regular'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.woff2')
			format('woff2'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.woff')
			format('woff'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.ttf')
			format('truetype'),
		url('../../fonts/merriweather/merriweather-v21-cyrillic-ext_cyrillic_latin_vietnamese_latin-ext-regular.svg#Merriweather')
			format('svg');
}

//* Condensed
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.eot');
	src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.woff2')
			format('woff2'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.woff')
			format('woff'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.ttf')
			format('truetype'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-300.svg#OpenSansCondensed')
			format('svg');
}

@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.eot');
	src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.woff2')
			format('woff2'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.woff')
			format('woff'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.ttf')
			format('truetype'),
		url('../../fonts/condensed/open-sans-condensed-v14-latin_greek_greek-ext_vietnamese_latin-ext_cyrillic-ext_cyrillic-700.svg#OpenSansCondensed')
			format('svg');
}

//* Montserrat
/* montserrat-100 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-200 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.eot'); /* IE9 Compat Modes */
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.woff2') format('woff2'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.woff') format('woff'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.ttf') format('truetype'),
		url('../../fonts/montserrat/montserrat-v14-vietnamese_latin-ext_latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

//* Playfair
/* playfair-display-regular - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-regular.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}
/* playfair-display-500 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-500.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}
/* playfair-display-600 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-600.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}
/* playfair-display-700 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-700.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}
/* playfair-display-800 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 800;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-800.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}
/* playfair-display-900 - vietnamese_latin-ext_latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.woff2') format('woff2'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.woff') format('woff'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.ttf') format('truetype'),
		url('../../fonts/playfair/playfair-display-v20-vietnamese_latin-ext_latin-900.svg#PlayfairDisplay')
			format('svg'); /* Legacy iOS */
}

//* Quattrocento
/* quattrocento-sans-regular - latin-ext_latin */
@font-face {
	font-family: 'Quattrocento Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Quattrocento Sans'), local('QuattrocentoSans'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.woff2') format('woff2'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.woff') format('woff'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.ttf') format('truetype'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-regular.svg#QuattrocentoSans') format('svg'); /* Legacy iOS */
}
/* quattrocento-sans-700 - latin-ext_latin */
@font-face {
	font-family: 'Quattrocento Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.woff2') format('woff2'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.woff') format('woff'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.ttf') format('truetype'),
		url('../../fonts/quattrocento/quattrocento-sans-v12-latin-ext_latin-700.svg#QuattrocentoSans') format('svg'); /* Legacy iOS */
}
