@import '../../../sass/helpers/mixins';
//* initial animation on router load
body[page-load="startAnimation"]::after,
body[page-load="finishAnimation"]::after {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	clear: both;
	content: '';
}
//* start
body[page-load="startAnimation"]::after {
	background-color: rgba(0, 0, 0, 1);
	pointer-events: auto;
	transform-origin: center;
	z-index: 5;
}
//* END `start animation`
//* end
body[page-load="finishAnimation"]::after {
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	transform: translateY(-100%);
	@include transition(all 1s 0.5s var(--animation-cubic));
	z-index: 1;
}
//* END `finish animation`
