// 6C757D
// 495057

.gl__section--about .grid {
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.gl__figure {
    position: relative;
    width: 480px;
    height: 480px;
    background-color: #1b1b1b;
    //background-color: #f2f2f2;
    

    //border: 3px solid #000;
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 
    //clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    //clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    border-radius: 5px 150px;


    overflow: hidden;
    
    color: #6C757D;

    shape-outside: ellipse(160px 160px at 50% 50%);
   
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        clear: both;
        display: block;
        overflow: hidden;
        background-image: url('../../../../assets/images/danijel_light.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        //filter: drop-shadow(0 -6px 10px rgba(108, 117, 125, .35));
        z-index: 1;
        transform: scale(1)
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        clear: both;
        display: block;
        overflow: hidden;
        background-image: url('../../../../assets/images/danijel_light.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        //filter: drop-shadow(0 -6px 10px rgba(108, 117, 125, .35));
        z-index: 2;
        transform: scale(1);
        opacity: 0.1;

        background-color: #6C757D;
        transform: translateX(-10px) scale(1.05);
        display: none;
    }    
}

.gl__section--about .gl__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    //clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    //clip-path: polygon(20% 0%, 80% 0%, 100% 6%, 100% 94%, 80% 100%, 20% 100%, 0 94%, 0 4%);
    background-color: #1b1b1b;
    border-radius: 5px 150px;
    padding: 0 50px;
    h3 {
        font-size: 16px;
        font-weight: 300;
        font-family: var(--font-montserrat);
        padding: 0;
        margin-bottom: 20px;
        text-align: left;
        justify-content: flex-start;
        line-height: 1.618;

        &:last-child {
            margin: 0;
        }
    }
}