.gl__section--home {
	padding: 0;
 	background-color: transparent;
	background-image: url('../../../../assets/images/dark_waves.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	z-index: 0;
}