@import '../../../sass/helpers/mixins';
//* button toggle theme
.toggle__theme {
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 60px;
	height: 80px;
	//* Z-INDEX Toggle theme button
	z-index: 10;
	transform: translate3d(0, 0, 1px);
	will-change: transform;
	@include transition(transform 0.3s 0.5s var(--animation-cubic));
	//* positon on medium screen
	@include breakpoint(md) {
		left: 43px;
		bottom: 24px;
	}
	//* END `toggle__theme`
	.switch__theme {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		//* input
		.theme__input {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			outline: 0;
			border: 0;
			border-radius: 0;
			appearance: none;
			background: transparent;
			//* pseudo on theme input
			&::before,
			&::after {
				position: absolute;
				@include transition(transform 0.3s var(--animation-cubic));
				content: '';
			}
			//* square
			&::before {
				//* calc margin (left + right + width) 20+ 20+ 20+ equal 60px of full width parent element
				margin: 5px 20px;
				width: 20px;
				height: 20px;
				border: 1px solid #fff;
				border-radius: 0;
				//* background square input
				background-color: rgba($color: #000000, $alpha: 1.0);
				outline: 0;
				//* Z-INDEX Initial
				z-index: 10;
			}
			//* line
			&::after {
				width: 1px;
				left: 50%;
				//* background line input
				background-color: #818181;
				//* Z-INDEX Initial
				z-index: 0;
				height: 50px;
				transform: translateY(30px);
				@include transition(all 0.5s cubic-bezier(0, 0, 0.2, 1));
			}
		}
	}
}
//* END `toggle__theme`
//* dark mode switched
.dark-mode {
	.toggle__theme {
		.switch__theme {
			.theme__input {
				&::before {
					transform: translateY(50px);
				}
				&::after {
					height: 50px;
					transform: translateY(0);
					@include transition(all 0.5s cubic-bezier(0, 0, 0.2, 1));
				}
			}
		}
	}
}
//* END `dark-mode`
