.gl__footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	background-color: var(--background-dark);
	background-image: url('../../../assets/images/dark_waves.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	z-index: 0;	
	*/
}
